<div class="card">
  <div class="card-image">
    <figure >
      <img src="../../assets/img/img.jpg" class="z" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-96x96">
          <img src="../../assets/img/icon.jpg">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">Chebbi Mohamed Mehdi</p>
        <p cass="subtitle is-6">@chebbimehdi</p>
      </div>
    </div>

    <div class="content">
        Salutations, je me presente futur technicien supérieur en informatique spécialisé en Développement de Systèmes d'Informations (DSI). <br>
        Voici mon projet de stage de 2e année, j'espère qu'il est à la hauteur de vos attentes.<br>
        Merci pour votre attention.
        <br>
        <p class="p">Me contactez:&nbsp;&nbsp;&nbsp;<a class="fab fa-facebook-f" href="https://fr-fr.facebook.com/Mehdichebbii"></a>&nbsp;&nbsp;&nbsp;<a class="fas fa-envelope" href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=mcehdich@gmail.com&su=SUBJECT&body=BODY&tf=1" ></a></p>
      <time datetime="2016-1-1">03:25 AM - 29 Jan 2020</time>
    </div>
  </div>
</div>
