$primary:      hsl(171, 100%, 41%);

.hero{
    background-image: url("/assets/img/pexel.jpg") !important;
    background-size: cover;
    background-position: center center;
}
.title{
    color: #000;
}
